<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby:C:\Programmazione\progetto_web\SSdb.db</param-value>
    </context-param>
    <context-param>
        <description>The path where the user avatar images are stored.</description>
        <param-name>avatarsFolder</param-name>
        <param-value>images/avatars</param-value>
    </context-param>
    <context-param>
        <description>The folder where are stored the exported pdfs</description>
        <param-name>pdfFolder</param-name>
        <param-value>pdfs</param-value>
    </context-param>
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PazienteProfiloFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.PazienteProfiloFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PazienteEsamiFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.PazienteEsamiFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PazienteVisiteFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.PazienteVisiteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>PazienteRicetteFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.PazienteRicetteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MedicoProfiloFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.MedicoProfiloFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MedicoPazientiFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.MedicoPazientiFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MedicoBSchedaPazienteFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.MedicoBSchedaPazienteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>MedicoSSchedaPazienteFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.MedicoSSchedaPazienteFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SspProfiloFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.SspProfiloFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SspPazientiFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.SspPazientiFilter</filter-class>
    </filter>
    <filter>
        <filter-name>SspSchedaPazienteFilter</filter-name>
        <filter-class>it.serviziosanitario.filters.SspSchedaPazienteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/riservato/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PazienteProfiloFilter</filter-name>
        <servlet-name>PazienteProfilo</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PazienteEsamiFilter</filter-name>
        <servlet-name>PazienteEsami</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PazienteVisiteFilter</filter-name>
        <servlet-name>PazienteVisite</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PazienteRicetteFilter</filter-name>
        <servlet-name>PazienteRicette</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MedicoBSchedaPazienteFilter</filter-name>
        <servlet-name>MedicoBSchedaPaziente</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MedicoSSchedaPazienteFilter</filter-name>
        <servlet-name>MedicoSSchedaPaziente</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MedicoPazientiFilter</filter-name>
        <servlet-name>MedicoPazienti</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>MedicoProfiloFilter</filter-name>
        <servlet-name>MedicoProfilo</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SspProfiloFilter</filter-name>
        <servlet-name>SspProfilo</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SspPazientiFilter</filter-name>
        <servlet-name>SspPazienti</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SspSchedaPazienteFilter</filter-name>
        <servlet-name>SspSchedaPaziente</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>it.serviziosanitario.listeners.WebAppContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>it.serviziosanitario.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PazienteProfilo</servlet-name>
        <jsp-file>/pazienteProfilo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PazienteEsami</servlet-name>
        <jsp-file>/pazienteEsami.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PazienteVisite</servlet-name>
        <jsp-file>/pazienteVisite.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PazienteRicette</servlet-name>
        <jsp-file>/pazienteRicette.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MedicoProfilo</servlet-name>
        <jsp-file>/medicoProfilo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MedicoPazienti</servlet-name>
        <jsp-file>/medicoPazienti.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MedicoBSchedaPaziente</servlet-name>
        <jsp-file>/medicoBSchedaPaziente.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MedicoSSchedaPaziente</servlet-name>
        <jsp-file>/medicoSSchedaPaziente.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SspProfilo</servlet-name>
        <jsp-file>/sspProfilo.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SspPazienti</servlet-name>
        <jsp-file>/sspPazienti.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>SspSchedaPaziente</servlet-name>
        <jsp-file>/sspSchedaPaziente.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RichiestaCambioPassword</servlet-name>
        <jsp-file>/richiestaCambioPassword.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <jsp-file>/changePassword.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>PasswordCambiata</servlet-name>
        <jsp-file>/passwordCambiata.jsp</jsp-file>
    </servlet>
     <servlet>
        <servlet-name>PasswordNonCambiata</servlet-name>
        <jsp-file>/passwordNonCambiata.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FotoServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.FotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.PDFServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MBaseServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.MBaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QRServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.QRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PazienteServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.PazienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiaPswServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.CambiaPswServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpecialistaServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.SpecialistaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SspServlet</servlet-name>
        <servlet-class>it.serviziosanitario.servlets.SspServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendEmail</servlet-name>
        <servlet-class>it.serviziosanitario.other.SendEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionePassword</servlet-name>
        <servlet-class>it.serviziosanitario.other.GestionePassword</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login.controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PazienteProfilo</servlet-name>
        <url-pattern>/riservato/paziente/profilo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PazienteEsami</servlet-name>
        <url-pattern>/riservato/paziente/esami.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PazienteVisite</servlet-name>
        <url-pattern>/riservato/paziente/visite.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PazienteRicette</servlet-name>
        <url-pattern>/riservato/paziente/ricette.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicoProfilo</servlet-name>
        <url-pattern>/riservato/medico/profilo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicoPazienti</servlet-name>
        <url-pattern>/riservato/medico/pazienti.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicoBSchedaPaziente</servlet-name>
        <url-pattern>/riservato/medico/scheda-paziente-b.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MedicoSSchedaPaziente</servlet-name>
        <url-pattern>/riservato/medico/scheda-paziente-s.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SspProfilo</servlet-name>
        <url-pattern>/riservato/ssp/profilo.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SspPazienti</servlet-name>
        <url-pattern>/riservato/ssp/pazienti.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SspSchedaPaziente</servlet-name>
        <url-pattern>/riservato/ssp/scheda-paziente.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FotoServlet</servlet-name>
        <url-pattern>/services/foto.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFServlet</servlet-name>
        <url-pattern>/services/PDF.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MBaseServlet</servlet-name>
        <url-pattern>/services/MBase.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QRServlet</servlet-name>
        <url-pattern>/services/QR.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PazienteServlet</servlet-name>
        <url-pattern>/services/Paziente.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/services/Report.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiaPswServlet</servlet-name>
        <url-pattern>/services/CambiaPsw.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpecialistaServlet</servlet-name>
        <url-pattern>/services/Specialista.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SspServlet</servlet-name>
        <url-pattern>/services/Ssp.handler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendEmail</servlet-name>
        <url-pattern>/send.email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RichiestaCambioPassword</servlet-name>
        <url-pattern>/richiestaCambioPassword.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/changePassword.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordCambiata</servlet-name>
        <url-pattern>/passwordCambiata.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordNonCambiata</servlet-name>
        <url-pattern>/passwordNonCambiata.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionePassword</servlet-name>
        <url-pattern>/GestionePassword</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/ooops.jsp</location>
    </error-page>
</web-app>
